* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
	text-decoration: none !important;
}
nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:link,
a:visited {
	text-decoration: none !important;
	color: #ffffff !important;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

button,
a {
	border-radius: 0 !important;
}

@font-face {
	font-family: "Orchidea Pro";
	src: local("Orchidea Pro Medium"), local("OrchideaPro-Medium"), url("Orchideapromedium.woff2") format("woff2"),
		url("Orchideapromedium.woff") format("woff"), url("Orchideapromedium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
/* //////////////////////////////////// */

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: auto;
	overflow-x: hidden;
}

main {
	margin: 0px auto 0px auto;
}
/* //////////////////////////////////// */
h1 {
	font-family: "Orchidea Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	/* color: #ffffff; */
}

h2 {
	font-family: "Orchidea Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 61px;
	text-transform: uppercase;

	color: #373737;
}

h3 {
	font-family: "Orchidea Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
}
/* //////////////////////////////////// */

.header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 62px;

	width: 100%;
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.header__logotype {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5vw;
}
.header__link {
}
.header__offerta {
	color: #ffffff;
	max-width: 213px;
}
.header__account {
	width: 220px;
	height: 50px;
	border: 1px solid #fda700;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__account > a {
	color: #fda700 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
}
/* //////////////////////////////////// */

.hero {
	padding-top: 216px;
	height: 1100px;
	color: #ffffff;
	background-image: url(src/images/background.png);
	background-color: #373737;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__container {
	width: 100%;
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;

	position: relative;
}
.hero__frame1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hero__explain {
	max-width: 699px;
	width: 100%;
	margin-bottom: 232px;
}
.hero__head {
	margin-bottom: 35px;
}
.hero__text {
	max-width: 623px;
	width: 100%;
	font-size: 30px;
	line-height: 35px;
}

.hero__quantum {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 13px;
	gap: 16px;

	width: 660px;
	height: 97px;

	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.hero__quantum a {
	color: #fda700 !important;
}

.hero__image {
}
.hero__textqua {
	width: 100%;
	max-width: 379px;
	color: #373737;
}
.hero__button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height: 54px;

	background: #0d2b6d;
	border-radius: 10px !important;

	font-family: "Orchidea Pro";
	font-size: 30px;
	line-height: 30px;
}
.hero__frame2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero__play {
	width: 125px;
	height: 125px;
	cursor: pointer;
	margin-bottom: 18px;
}

.hero__registration {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 45px 59px;
	gap: 20px;

	width: 490px;
	height: 500px;

	background: rgba(13, 43, 109, 0.8);
	border-radius: 10px;
}
.hero__registration form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.hero__registration h3 {
	color: #fda700;
	margin-bottom: 5px;
}
.hero__field {
}
.hero__field-input {
	background-color: #0d2b6d;
	color: #ffffff;
	width: 400px;
	height: 57px;
	padding: 0 20px;
}
.hero__field-input::placeholder {
	color: #ffffff;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 130%;
}
.hero__submit {
	width: 400px;
	height: 59px;
	border-radius: 10px;
	background-color: #fda700;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero__label {
	color: #373737;
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}
.hero__load {
	display: none;
}
/* //////////////////////////////////// */

.team {
	background-color: #0d2b6d;
	padding: 50px 0;
	color: #ffffff;
}
.team__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	gap: 55px;
}
.team__member {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.team__member img {
	width: 110px;
}
.team__info {
}
.team__name {
}
.team__cost {
}
.team__balance {
	color: #fda700;
}
/* //////////////////////////////////// */

.problem {
	margin-top: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.problem__container {
	position: relative;
	width: 1380px;
	min-height: 612px;

	background-color: #f3f3f3;
	box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.25);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.problem__container h2 {
	margin-top: 68px;
}
.problem__content {
	margin: 44px 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px;
}
.problem__part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	max-width: 289px;
}
.problem__exp {
	width: 100%;
	max-width: 289px;
	height: 60px;
	background-color: #0d2b6d;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.problem__head {
	width: 100%;
	max-width: 277px;
	height: 52px;
	background-color: #0d2b6d;
	color: #fda700;
	border-radius: 10px;
	padding: 11px 40px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin: 1px;
}
.problem__text {
	margin-top: 20px;
}
.problem__link {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(180deg);
	top: 100%;
}
#hider {
	background: none !important;
}

/* //////////////////////////////////// */

.solution {
	margin: 75px auto 0;
	width: 100%;
	max-width: 748px;
	padding: 0 10px;
}
.solution__head {
	text-align: center;
	margin-bottom: 30px;
}
.solution__text {
}
/* //////////////////////////////////// */

.start {
	margin: 75px auto 0;
	width: 100%;
	max-width: 1230px;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.start__head {
	text-align: center;
}
.start__content {
	margin-top: 44px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	max-width: 723px;
}
.start__piece {
	background-color: #f3f3f3;
	box-shadow: 4px 4px 4px rgba(55, 55, 55, 0.25);
	/* width: 723px; */
	width: 100%;
	max-width: 723px;
	height: 150px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	position: relative;
}
.start__piece:nth-child(odd) img {
	position: absolute;
	top: 0;
	left: 24px;
}
.start__piece:nth-child(even) img {
	position: absolute;
	top: 0;
	right: 24px;
}

.start__headline {
	color: #fda700;
}
.start__text {
	margin-top: 10px;
	max-width: 391px;
	width: 100%;
	text-align: center;
}
/* ///////////////////////////////////////// */
.change {
	transform: rotate(-180deg);
}

.hided {
	display: none;
}
.orange {
	color: #fda700;
}
/* ///////////////////////////////////////// */
@media screen and (max-width: 1225px) {
	.hero {
		padding-top: 125px;
		padding-bottom: 125px;
		height: auto;
	}
	.hero__explain {
		max-width: 1000px;
		text-align: center;
		margin-bottom: 20px;
	}
	.hero__text {
		max-width: inherit;
	}
	.hero__quantum {
		margin-top: 40px;
		width: auto;
	}
	.hero__textqua {
		max-width: 279px;
	}
	.hero__frame2 {
		margin-top: 40px;
	}
	.team__container {
		flex-direction: column;
	}
	.problem__content {
		flex-direction: column;
	}
	.problem__part {
		max-width: 718px;
	}
	.problem__exp {
		max-width: inherit;
	}
	.problem__head {
		max-width: 688px;
		text-align: center;
	}
	.problem__text {
		text-align: center;
	}
	.solution__text {
		text-align: center;
	}
	.start__piece {
		/* width: 100%;
		max-width: 723px; */
	}
}

/* ///////////////////////////////////////// */

#phone,
.btn {
}

.btn {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
}

.btn:focus,
.btn:hover {
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.alert {
	padding: 15px;
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	border-color: #bce8f1;
	color: #31708f;
	background-color: #d9edf7;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.iti__country-name {
	color: #0d2b6d !important;
}

.iti__dial-code {
	color: #fda700 !important;
}
